<script src="/js/bootstrap.min.js"></script>
<footer style="font-family: Raleway;">
  <p>Created by <a class="blueLinks" href="https://github.com/dylanlavon">Dylan Britain</a> for Senior Project, CS4395. All data made available by the <a class="blueLinks" href="https://pokemontcg.io/">Pokémon TCG API</a>.
  </p>
  <p>
    This website is not produced, endorsed, supported, or affiliated with Nintendo or The Pokémon Company.
  </p>
  <p>
    The use of the copyrighted material on theis website falls under
    <a class="blueLinks" href="https://en.wikipedia.org/wiki/Fair_use">fair use</a>.
  </p>
</footer>
</body>

</html>