<script src="/js/bootstrap.min.js"></script>
<footer>
  <p>Created by <a href="https://github.com/dylanlavon">Dylan Britain</a> for Senior Project, CS4395.</p>
  <p>Pokémon characters, images, and card images belong to Pokémon USA, Inc. and Nintendo. This website or it's
    creators are in no way affiliated with or endorsed by Nintendo LLC, Creatures, GAMEFREAK inc, The Pokémon
    Company, Pokémon USA, Inc., The Pokémon Company International, or Wizards of the Coast.
  </p>
  <p>
    The use of the copyrighted material on theis website falls under
    <a href="https://en.wikipedia.org/wiki/Fair_use">fair use</a>.
  </p>
</footer>
</body>

</html>