<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Dynamically decide upon tab title -->
    <% if(page == "setList") {%>
      <% title = setInfo.name + " - DexApp"%>
    <% } else if(page == "set") {%>
      <% title = "Sets - DexApp" %>
    <% } else if(page == "card") {%>
      <% title = cardInfo.name + " - DexApp" %>
    <% } else if(page == "home") {%>
      <% title = "Home - DexApp" %>
    <% } else if(page == "about") {%>
      <% title = "About - DexApp" %>
    <% } else {%>
      <% title = "Welcome to DexApp!" %>
    <% } %>
    <title><%= title %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>


<body>
  <!-- Create Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">DexApp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/set">Sets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>