<!-- Include the Header -->
<%- include('partials/header') %> 

<div class="advancedWrapper mx-auto" style="margin-top: 4%;">
    <hr class="style-one">
    <h1 class="pageHeader">ABOUT DEX APP</h1>
    <h5 class="pageHeader">The helpful Pokémon card lookup tool.</h5>
    <hr class="style-one">
</div>

<div class="advancedWrapper  mx-auto mt-3" style="justify-content: center;">
    <p class="aboutP">
        DexApp was designed over the span of several months as a capstone project for my Computer Science B.S. Senior Project course at the University of Houston - Downtown.
    </p>
    <p class="aboutP">
        This project has been on my mind for a couple years. Having a course requirement for a project like this was perfect.
    </p>
    <p class="aboutP">
        I collect Pokémon cards myself, so I designed this site to provide the data that people like me would want in a pinch.
    </p>
    <br>
    <p class="aboutP">
        All data used in this application is provided by the <a class="blueLinks" href="https://pokemontcg.io/">Pokémon TCG API</a>, created by a community of developers with a passion for Pokémon.
    </p>
    <p class="aboutP">
        DexApp has no local databases. By design, DexApp should be a low-matinence application that is automatically updated whenever new data is added to the API.
    </p>
</div>

<div class="advancedWrapper mx-auto" style="margin-top: 2%;">
    <hr class="style-one">
    <h1 class="pageHeader">ABOUT THE DEVELOPER</h1>
    <h5 class="pageHeader">Dylan Britain</h5>
    <hr class="style-one">
</div>

<div class="advancedWrapper  mx-auto mt-3" style="justify-content: center;">
    <p class="aboutP">
        Hi! My name is Dylan Britain! I am a graduating CS Senior at the University of Houston - Downtown.
    </p>
    <p class="aboutP">
        I am a three-time intern at NASA's Johnson Space Center under the Office of STEM Engagement Program. 
        There, most of my time has been spent with the Orion Backup Flight Software Team.
        Since then, I have joined Odyssey Space Research as an intern with the VIPER team at JSC.
    </p>
    <p class="aboutP">
        I have a background in laptop troubleshooting & repair, as well as tech sales for two years.
    </p>
    <p class="aboutP">
        Outside of work, I enjoy collecting Pokémon cards (when I have the money), studying web & game development, and restoring old game consoles.
    </p>
    <br>
    <p class="aboutP">
        If you'd like, feel free to get in contact!
    </p>
    <p class="aboutP">
        <a href="https://www.linkedin.com/in/dylanbritain/"><img class="aboutImg" src="/images/linkedInIcon.png" alt="LinkedIn Icon"></a>
        <a href="https://github.com/dylanlavon/"><img class="aboutImg" src="/images/githubIcon.png" alt="GitHub Icon"></a>
        <a href="mailto: dyedartmail@gmail.com"><img class="aboutImg" src="/images/emailIcon.png" alt="Email Icon"></a>
    </p>
</div>

<!-- Include the footer -->
<%- include('partials/footer') %> 