<!-- Include the Header -->
<%- include('partials/header') %> 

<div class="advancedWrapper mx-auto" style="margin-top: 4%;">
    <hr class="style-one">
    <h1 class="pageHeader">- 500 -</h1>
    <h5 class="pageHeader">Internal server error. We must have broke something :(</h5>
    <hr class="style-one">

    <img src="images/sad-pikachu.gif" alt="sad pikachu" style="display: block; margin-left: auto; margin-right: auto;">

    <h5 style="margin-top: 30px; text-align: center;"><a class="blueLinks" href="/"> Return home</a></h3>
</div>

<!-- Include the footer -->
<%- include('partials/footer') %> 