<!-- Include the Header -->
<%- include('partials/header') %> 

<div class="wrapper d-flex m-auto">
  <div class=" container d-flex flex-column">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 style="font-family: Raleway;">DexApp</h1>
              <h4 style="color: rgba(255, 255, 255, .3); font-family: Raleway;">The helpful Pokémon card lookup tool.</h4>    
          </div>
      </div>
      <div class="d-flex justify-content-center">
          <form class="search-form" onsubmit="return false;">
            <div class="search-wrapper mt-2">
              <input class="searchField" type="search" placeholder="Search for a card..." onkeypress="submitOnEnter(event)">
              <span class="search-icon"></span>
            </div>
          </form>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <p>
          Try <a class="blueLinks" href="/search?q=charizard">"charizard"</a> or <a class="blueLinks" href="/search?q=supertype:trainer">"supertype:trainer"</a> or simply <a class="blueLinks" href="/set">browse by set</a>.
        </p>
      </div>
  </div>
</div>
<!-- Include the footer -->
<%- include('partials/footer') %> 