<!-- Include the Header -->
<%- include('partials/header') %> 

<h1>Your Query is:</h1>
<h2><%=query%></h2>

<% console.log("Query: " + query) %>

<% let hasResults = false; %>
<% console.log(searchResults) %>

<% if (searchResults.length > 0) hasResults = true; %>
<% console.log("Has Results?: ", + hasResults) %>

<% if (hasResults) { %>
<% for(let i = 0; i < searchResults.length; i++){%>
    <%    console.log(searchResults[i].id, searchResults[i].images.small)%>
<%}%>

<% } %>
<!-- Include the footer -->
<%- include('partials/footer') %> 