@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf')
    /* Add more font formats if needed for better browser support */
  }
  
body{
    background: #333333;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  font-size: small;
  padding-top: 10px;
  margin-top: auto;
}

.blueLinks{
    color: #007bff;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td{
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

table th{
    font-weight: bold;
    background-color: #222;
}

table img{
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.cardInfo{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.setInfo{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

tr.set-gap td {
    height: 10px; /* Adjust the height as needed */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
  }

.searchField{
    background-color: #0b0a0a;
    color: #999;
    font-family: Raleway;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 40px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
}

.searchField:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #3098ec; /* Change the border color to the desired highlight color */
    box-shadow: 0 0 10px #3098ec;
  }

.search-form{
    width: 100%;
}

.wrapper{
    width: 50%;
}

.search-wrapper{
    position: relative;
}

.search-icon {
    position: absolute; /* Position the icon absolutely within the wrapper */
    top: 50%; /* Vertically center the icon */
    left: 10px; /* Adjust the position of the icon from the right */
    transform: translateY(-30%); /* Center the icon vertically using translation */
    width: 20px; /* Set the width of the icon */
    height: 20px; /* Set the height of the icon */
    background-image: url('../images/searchIcon.png'); /* Replace 'path/to/magnifying-glass-icon.png' with the actual path to your icon image */
    background-size: cover; /* Adjust the icon size to fit the element */
    cursor: pointer; /* Show the pointer cursor when hovering over the icon */
  }
